.card{
  width: 400px;
  background-color: #fff;
  border-radius: 14px;
  margin: 0 auto;
  padding-bottom: 20px;
  transform: translateY(50%);
}
.head{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #6A96D8;
  position: relative;
  padding: 20px;
  border-radius: 14px 14px 0px 0px;
}
.box::before{
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 25px;
  border-radius: 50%;
  background-color: #fff;

}
.box__title{
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  margin-left: 20px;
  color: #fff;
}
.resit__icon{
  fill: #fff;
  opacity: 1;
  &:hover{
    opacity: 0.5;
  }
}
.main{
  padding: 24px 24px 20px 24px;
}
.line{
  width: 352px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 24px;
}
.line__left::before{
  display: block;
  content: "";
  width: 145px;
  height: 1px;
  background-color: #DDDDDD;
}
.line__right::after{
  display: block;
  content: "";
  width: 145px;
  height: 1px;
  background-color: #DDDDDD;
}
.line__title{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.025em;
  color: #DDDDDD;
  margin: 0 10px;
}
.date{
  display: block;
  width: 30px;
  margin-bottom: 6px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #DDDDDD;
}
.date__left{
  display: block;
  width: 30px;
  margin-left: auto;
  margin-bottom: 6px;
}
.message{
  width: 275px;
  max-width: 275px;
  min-width: 75px;
  background: #E6EDF6;
  border-radius: 1px;
  padding: 9px 53px 11px 18px;
  clip-path: polygon(0% 0%, 0% 0%, 0% 0%, 100% 0, 100% 0, 100% 100%, 0% 100%, 4% 100%, 4% 19%);
  margin-bottom: 16px;
}

.message__right{
  width: 275px;
  background: #E6EDF6;
  border-radius: 1px;
  padding: 9px 50px 11px 6px;
  clip-path: polygon(0% 0%, 100% 0, 95% 20%, 95% 100%, 0% 100%);
  margin-bottom: 16px;
  margin-left: auto;
}
.message__left{
  width: 95px;
  background: #E6EDF6;
  border-radius: 1px;
  padding: 9px 2px 11px 11px;
  clip-path: polygon(0% 1%, 0% 0%, 0% 0%, 100% 0, 100% 0, 100% 100%, 0% 100%, 8% 100%, 8% 19%);
  margin-bottom: 16px;
}
.message__red{
  width: 193px;
  max-width: 275px;
  min-width: 75px;
  margin-left: auto;
  background-color: #FFC2C1;
  padding: 9px 10px 11px ;
}
.message__content{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #000000;
  margin: 0;
}
.form{
  position: relative;
  width: 352px;
  margin: 0 auto;
  padding: 13px 20px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 54px;
}
input{
  border: none;
}
input::placeholder{
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #BDBDBD;
}
button{
  position: absolute;
  top: 0;
  right: 0;
  width: 87px;
  border: none;
  background-color: #6A96D8;
  border-radius: 100px;
  text-transform: uppercase;
  margin: 4px;
  padding: 9px 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}